// body {
//   padding: 0;
//   margin: 0;
// }
.pl-vwo-banner {
  padding: 169px 0 209px 0;
  background-color: #3b4915;
  color: white;
  @media screen and (max-width: 767px) {
    padding: 46px 0 42px 0;
  }

  * {
    box-sizing: border-box;
  }

  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
    width: 100%;
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &--left {
    &-up-title {
      color: #bbc25c;
      font-family: "Saira", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      margin: 0 0 23px 0;
    }

    &-title {
      max-width: 531px;
      margin: 0 0 30px 0;
      color: #fff;
      font-family: "Saira", sans-serif;
      font-size: 50px;
      font-style: normal;
      font-weight: 300;
      line-height: 120%;
      letter-spacing: -1px;
      @media screen and (max-width: 767px) {
        font-size: 40px;
      }

      span {
        color: #ffc3ea;
        font-style: italic;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -1px;
      }
    }

    &-social {
      margin: 0 0 39px 0;
      display: flex;
      align-items: center;
      gap: 24px;
      @media screen and (max-width: 1024px) {
        justify-content: center;
      }
      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
      }
    }
  }

  &--social-title {
    color: #fff;
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    span {
      font-style: italic;
    }
  }
  &--social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &--left-btn {
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 8px 20px;
    color: #242424;
    cursor: pointer;
    text-decoration: none;

    border-radius: 150px;
    border: 1px solid #c0c1ba;
    background-color: transparent;
    transition: opacity 0.2s, background-color 0.3s;

    font-family: "Saira", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    &:hover {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }

    &::before {
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: #bbc25c;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transition: opacity 0.3s;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-image: linear-gradient(to right, #bbc25c, #3b4915);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &--right {
    flex: none;
  }

  &--image {
    position: relative;
    overflow: hidden;
    &-main {
      width: 100%;
    }
    &-circle {
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #dcdcdc;
      border: 2px solid #c0c1ba;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      animation: scale1 2.8s infinite;
      transition: all 0.5s;
      @media screen and (max-width: 767px) {
        width: 50px;
        height: 50px;
      }

      &.is-Active {
        opacity: 1;
      }

      &.circle-1 {
        top: 46%;
        left: -20%;

        &.is-Active {
          left: 2%;
        }
        @media screen and (max-width: 767px) {
          svg {
            width: 28px;
            height: 28px;
          }
        }
      }

      &.circle-2 {
        top: -30%;
        left: 18%;
        &.is-Active {
          top: 3%;
        }
        @media screen and (max-width: 767px) {
          left: 21%;

          svg {
            width: 27px;
            height: 27px;
          }
        }
      }
      &.circle-3 {
        top: 32%;
        left: 110%;
        &.is-Active {
          left: 75%;
        }
        @media screen and (max-width: 767px) {
          svg {
            width: 29px;
            height: 29px;
          }
        }
      }
    }
  }
}

@keyframes scale1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
